body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d6dcf1;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

#container{
    margin: auto;
    padding: 4.5em;
    background-color: #f0f0f0;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

input{
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #d6dcf1;
}

button{
    all: unset;
    margin-top: 1em;
    margin-bottom: 1em;
    background: transparent;
    background-color: #c6d1f6;
    border: 2px solid black;
    padding: 0.3em 3em;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    transition: all 300ms ease;
}

label{
    display: block;
    margin-bottom: 2px;
    font-size: large;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
}

tr{
    background-color: #c6d1f6;
}

tr:nth-child(even){
 background-color: #d6dcf1;
}

th{
    background-color: #889de1;
    min-width: 110px;
}



#pontszamOsszesito{
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 2em;
}